.containerCard {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.rowFirst {
    display: flex;
    justify-content: center;
    /* position: relative; */
}

.price {
    color: red;
    font-weight: 800;
    margin-right: 10px;
}

.priceOld {
    text-decoration: line-through;
    color: #888;
}