.containerCard {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.rowFirst {
    display: flex;
    justify-content: center;
    position: relative;
}

.thumbnail {
    width: 240px;
}

.percent {
    position: absolute;
    background-color: orangered;
    padding: 10px;
    color: white;
    border-radius: 10px;
    top: 10px;
    right: 10px;
}

.price {
    color: red;
    font-weight: 800;
    margin-right: 10px;
}

.priceOld {
    text-decoration: line-through;
    color: #888;
}