.cardContainer{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    border-radius:20px ;
    width: 360px;
    height: 60px;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}
.img{
    width: 48px;
}
.leftCol{
    display: flex;
    align-items: center;
    gap: 10px;
}
.rightCol{

}