.container {
    display: flex;
    justify-content: center;
    position: relative;
}

.thumbnail {
    width: 220px;
}

.percent {
    position: absolute;
    background-color: orangered;
    padding: 10px;
    color: white;
    border-radius: 10px;
    top: 10px;
    right: 10px;
}