.container {
    display: flex;
    margin-top: 20px;
    background-color: white;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}

.cardContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 600px;

}

.items {
    display: flex;
    flex-direction: column;
}