.button{
    background-color: black;
    color: white;
    border: none;
    padding: 20px;
    display: flex;
    min-width: 330px;
    min-height: 60px;
    border-radius: 15px;
    font-size: 20px;
    align-items: center;
}
.title{
    min-width: 20px;
}
.icon{
    margin-left: auto;
    display: flex;
    align-items: center;
}